<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |f| %>

<div class="field">
  Email:<br> <%= f.text_field :email %>
</div>
<div class="field">
  Password:<br> <%= f.password_field :password %>
</div>
  Password Confirmation:<br> <%= f.password_field :password_confirmation %><br>
  <%= f.submit "Submit", :id => 'submit_sign' %>

<% end %>
